<%- include('./partials/header.ejs') %> 
<%- include('./partials/navbar.ejs') %>   

<div class="conainer mt-5 ml-5 mr-5">
    <h1 style="color: darkred;">
        <b><i>Welcome <%= user.name %></i></b>        
    </h1>
    <h4>Email Addresss: <%= user.email %></h4>
    <hr>
</div>

<div class="conainer mt-5 ml-5 mr-5">
    <h1 style="color: darkred;">
        <b><i>Courses</i></b>        
    </h1>
    <hr>

    <div class="container">
        <h3>Courses Taken: </h3>
        <ol>
            <li></p><%= user.courses %></li>
        </ol>

        <h4><a href="./AddCourseForm.ejs">Click here to add new Course</a></h4>
    </div>
</div>


<%- include('./partials/footer.ejs') %>   